.tool-pane {
    -fx-background-color: -fx-background;
    -fx-border-color: lightgray;
}

.tool-pane.horizontal {
    -fx-border-width: 1 0 0 0;
}

.tool-pane.vertical {
    -fx-border-width: 0 1 1 0;
}


.tool-pane > .scroll-pane {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-padding: 0;
}
