# This GitHub workflow is taken from Gradle's online documentation
# https://docs.gradle.org/current/userguide/github-actions.html

name: Build Gradle project

on:
  push:

jobs:
  build-gradle-project:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout project sources
      uses: actions/checkout@v2
    - name: Setup Java
      uses: actions/setup-java@v3
      with:
        distribution: microsoft
        java-version: 17
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2
    - name: Run build with Gradle Wrapper
      run: ./gradlew build
